
*.log
*.gz
*.MF
.minecraft/BotaniaVars.dat
.minecraft/.mixin.out/audit/mixin_implementation_report.csv
.minecraft/.mixin.out/audit/mixin_implementation_report.txt
.minecraft/astralsorcery/gatewayFilter/worldFilter.dat
.minecraft/usercache.json
.minecraft/usernamecache.json
natives/jinput-dx8.dll
natives/jinput-dx8_64.dll
natives/jinput-raw.dll
natives/jinput-raw_64.dll
natives/jinput-wintab.dll
natives/lwjgl.dll
natives/lwjgl64.dll
natives/OpenAL32.dll
natives/OpenAL64.dll
natives/SAPIWrapper_x64.dll
natives/SAPIWrapper_x86.dll
工具&文档/魔改说明.txt.bak
.minecraft/saves/新的世界/stats/6fef980a-9be9-46df-a5d5-5b576e6d02e9.json
.minecraft/saves/新的世界/session.lock
.minecraft/saves/新的世界/region/r.1.-2.mca
.minecraft/saves/新的世界/region/r.1.-1.mca
.minecraft/saves/新的世界/region/r.0.0.mca
.minecraft/saves/新的世界/region/r.0.-2.mca
.minecraft/saves/新的世界/region/r.0.-1.mca
.minecraft/saves/新的世界/region/r.-2.0.mca
.minecraft/saves/新的世界/region/r.-2.-1.mca
.minecraft/saves/新的世界/region/r.-1.0.mca
.minecraft/saves/新的世界/region/r.-1.-2.mca
.minecraft/saves/新的世界/region/r.-1.-1.mca
.minecraft/saves/新的世界/QuestLoot.json
.minecraft/saves/新的世界/playerdata/gamestages/6fef980a-9be9-46df-a5d5-5b576e6d02e9.dat
.minecraft/saves/新的世界/playerdata/6fef980a-9be9-46df-a5d5-5b576e6d02e9.dat
.minecraft/saves/新的世界/playerdata/6fef980a-9be9-46df-a5d5-5b576e6d02e9.astralback
.minecraft/saves/新的世界/playerdata/6fef980a-9be9-46df-a5d5-5b576e6d02e9.astral
.minecraft/saves/新的世界/multipart.dat
.minecraft/saves/新的世界/matter_registry.dat
.minecraft/saves/新的世界/level.dat_old
.minecraft/saves/新的世界/level.dat
.minecraft/saves/新的世界/icon.png
.minecraft/saves/新的世界/galaxy.dat
.minecraft/saves/新的世界/forcedchunks.dat
.minecraft/saves/新的世界/DIM2/region/r.0.-2.mca
.minecraft/saves/新的世界/DIM2/region/r.0.-1.mca
.minecraft/saves/新的世界/DIM2/multipart.dat
.minecraft/saves/新的世界/DIM2/forcedchunks.dat
.minecraft/saves/新的世界/DIM2/data/villages_cell.dat
.minecraft/saves/新的世界/DIM2/data/rtSpectreLensHandler.dat
.minecraft/saves/新的世界/DIM2/data/capabilities.dat
.minecraft/saves/新的世界/DIM1/region/r.0.-2.mca
.minecraft/saves/新的世界/DIM1/region/r.0.-1.mca
.minecraft/saves/新的世界/DIM1/multipart.dat
.minecraft/saves/新的世界/DIM1/forcedchunks.dat
.minecraft/saves/新的世界/DIM1/data/villages_end.dat
.minecraft/saves/新的世界/DIM1/data/rtSpectreLensHandler.dat
.minecraft/saves/新的世界/DIM1/data/capabilities.dat
.minecraft/saves/新的世界/DIM-9999/region/r.0.-2.mca
.minecraft/saves/新的世界/DIM-9999/region/r.0.-1.mca
.minecraft/saves/新的世界/DIM-9999/multipart.dat
.minecraft/saves/新的世界/DIM-9999/forcedchunks.dat
.minecraft/saves/新的世界/DIM-9999/data/villages_extrautilsquarrydim.dat
.minecraft/saves/新的世界/DIM-9999/data/rtSpectreLensHandler.dat
.minecraft/saves/新的世界/DIM-9999/data/capabilities.dat
.minecraft/saves/新的世界/DIM-343800852/region/r.0.-2.mca
.minecraft/saves/新的世界/DIM-343800852/region/r.0.-1.mca
.minecraft/saves/新的世界/DIM-343800852/multipart.dat
.minecraft/saves/新的世界/DIM-343800852/forcedchunks.dat
.minecraft/saves/新的世界/DIM-343800852/data/villagesSpectre_.dat
.minecraft/saves/新的世界/DIM-343800852/data/rtSpectreLensHandler.dat
.minecraft/saves/新的世界/DIM-343800852/data/capabilities.dat
.minecraft/saves/新的世界/DIM-11325/region/r.0.-2.mca
.minecraft/saves/新的世界/DIM-11325/region/r.0.-1.mca
.minecraft/saves/新的世界/DIM-11325/multipart.dat
.minecraft/saves/新的世界/DIM-11325/forcedchunks.dat
.minecraft/saves/新的世界/DIM-11325/data/villages_deep.dark.dat
.minecraft/saves/新的世界/DIM-11325/data/rtSpectreLensHandler.dat
.minecraft/saves/新的世界/DIM-11325/data/capabilities.dat
.minecraft/saves/新的世界/DIM-1/region/r.0.-1.mca
.minecraft/saves/新的世界/DIM-1/multipart.dat
.minecraft/saves/新的世界/DIM-1/forcedchunks.dat
.minecraft/saves/新的世界/DIM-1/data/villages_nether.dat
.minecraft/saves/新的世界/DIM-1/data/rtSpectreLensHandler.dat
.minecraft/saves/新的世界/DIM-1/data/capabilities.dat
.minecraft/saves/新的世界/data/XU2SaveData.dat
.minecraft/saves/新的世界/data/villages.dat
.minecraft/saves/新的世界/data/Village.dat
.minecraft/saves/新的世界/data/rtSpectreLensHandler.dat
.minecraft/saves/新的世界/data/RTRedstoneSignalHandler.dat
.minecraft/saves/新的世界/data/POBox_player-yichen_-6fef980a-9be9-46df-a5d5-5b576e6d02e9.dat
.minecraft/saves/新的世界/data/PistonRelayPairs.dat
.minecraft/saves/新的世界/data/MatterOverdriveWorldGenPositions.dat
.minecraft/saves/新的世界/data/LepidopteristTracker.6fef980a-9be9-46df-a5d5-5b576e6d02e9.dat
.minecraft/saves/新的世界/data/ImmersivePetroleum-SaveData.dat
.minecraft/saves/新的世界/data/ImmersiveEngineering-SaveData.dat
.minecraft/saves/新的世界/data/ftb_lib/universe.dat
.minecraft/saves/新的世界/data/ftb_lib/teams/singleplayer.dat
.minecraft/saves/新的世界/data/ftb_lib/players/yichen_.dat
.minecraft/saves/新的世界/data/cedunleashedcontrol_WorldSaveData.dat
.minecraft/saves/新的世界/data/capabilities.dat
.minecraft/saves/新的世界/data/ArboristTracker.6fef980a-9be9-46df-a5d5-5b576e6d02e9.dat
.minecraft/saves/新的世界/data/ApiaristTracker.6fef980a-9be9-46df-a5d5-5b576e6d02e9.dat
.minecraft/saves/新的世界/data/actuallyadditionsdata.dat
.minecraft/saves/新的世界/betterquesting/QuestProgress.json
.minecraft/saves/新的世界/betterquesting/QuestingParties.json
.minecraft/saves/新的世界/betterquesting/QuestDatabase.json
.minecraft/saves/新的世界/betterquesting/NameCache.json
.minecraft/saves/新的世界/betterquesting/LifeDatabase.json
.minecraft/saves/新的世界/AE2/spawndata/0_2_-3.dat
.minecraft/saves/新的世界/AE2/spawndata/0_2_-2.dat
.minecraft/saves/新的世界/AE2/spawndata/0_1_-3.dat
.minecraft/saves/新的世界/AE2/spawndata/0_1_-2.dat
.minecraft/saves/新的世界/AE2/spawndata/0_0_-3.dat
.minecraft/saves/新的世界/AE2/spawndata/0_0_-2.dat
.minecraft/saves/新的世界/AE2/spawndata/0_-4_0.dat
.minecraft/saves/新的世界/AE2/spawndata/0_-3_-1.dat
.minecraft/saves/新的世界/AE2/spawndata/0_-2_0.dat
.minecraft/saves/新的世界/AE2/spawndata/0_-2_-2.dat
.minecraft/saves/新的世界/AE2/spawndata/0_-2_-1.dat
.minecraft/saves/新的世界/AE2/spawndata/0_-1_0.dat
.minecraft/saves/新的世界/AE2/spawndata/0_-1_-2.dat
.minecraft/saves/新的世界/AE2/spawndata/0_-1_-1.dat
.minecraft/saves/新的世界/AE2/settings.cfg
.minecraft/saves/新的世界/advRocketry/temp.dat
.minecraft/saves/新的世界/advRocketry/planetDefs.xml
.minecraft/saves/新的世界/advRocketry/DIM-2/region/r.0.-2.mca
.minecraft/saves/新的世界/advRocketry/DIM-2/region/r.0.-1.mca
.minecraft/saves/新的世界/advRocketry/DIM-2/multipart.dat
.minecraft/saves/新的世界/advRocketry/DIM-2/forcedchunks.dat
.minecraft/saves/新的世界/advRocketry/DIM-2/data/villagesplanet.dat
.minecraft/saves/新的世界/advRocketry/DIM-2/data/rtSpectreLensHandler.dat
.minecraft/saves/新的世界/advRocketry/DIM-2/data/capabilities.dat
.minecraft/saves/新的世界/advancements/6fef980a-9be9-46df-a5d5-5b576e6d02e9.json
*.bak
