
//按文件类型忽略
*.log
*.gz
*.MF
*.sqlite
*.bak
.minecraft/backups/*.zip
.minecraft/saves/*.zip

//指定目录忽略
.minecraft/.mixin.out/
.minecraft/assets/
.minecraft/config/smoothfont/
.minecraft/crash-reports/
.minecraft/libraries/
.minecraft/logs/
.minecraft/local/
.minecraft/saves/魔改用存档
.minecraft/saves/新的世界
.minecraft/versions/
.vs/
natives/

//特定文件忽略
instance.cfg
.minecraft/options.txt
.minecraft/optionsof.txt
.minecraft/BotaniaVars.dat
.minecraft/registry.dump
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/launcher_profiles.json
.minecraft/config/jei/worldSettings.cfg
.minecraft/config/theoneprobe.cfg
.minecraft/config/InvTweaks.cfg
.minecraft/config/JustEnoughCharacters.cfg
.minecraft/astralsorcery/gatewayFilter/worldFilter.dat
.minecraft/config/AppliedEnergistics2/VersionChecker.cfg
.minecraft/config/IC2.ini
.minecraft/config/splash.properties
.minecraft/config/thaumicjei_itemstack_aspects.json

//白名单
!.minecraft/saves/TIMW建筑/**
*.bak
.minecraft/config/astralsorcery/amulet_enchantments.cfg
.minecraft/scripts/.zsrc
.minecraft/scripts/.zsrc
.minecraft/resourcepacks/备用材质包.zip
.minecraft/config/astralsorcery/amulet_enchantments.cfg
