
*.log
*.gz
*.MF
*.bak
.minecraft/*.txt
.minecraft/backups/*.zip
.minecraft/assets/**
.minecraft/libraries/**
.minecraft/versions/**
.minecraft/crash-reports/**
.minecraft/saves/魔改用存档/**
.minecraft/logs/**
.minecraft/BotaniaVars.dat
.minecraft/.mixin.out/audit/mixin_implementation_report.csv
.minecraft/.mixin.out/audit/mixin_implementation_report.txt
.minecraft/astralsorcery/gatewayFilter/worldFilter.dat
.minecraft/usercache.json
.minecraft/usernamecache.json
natives/jinput-dx8.dll
natives/jinput-dx8_64.dll
natives/jinput-raw.dll
natives/jinput-raw_64.dll
natives/jinput-wintab.dll
natives/lwjgl.dll
natives/lwjgl64.dll
natives/OpenAL32.dll
natives/OpenAL64.dll
natives/SAPIWrapper_x64.dll
natives/SAPIWrapper_x86.dll
.minecraft/launcher_profiles.json
.minecraft/local/ftbutilities/backups.json
.minecraft/config/jei/worldSettings.cfg
.minecraft/config/theoneprobe.cfg
.minecraft/config/InvTweaks.cfg
.minecraft/config/smoothfont/**
.minecraft/config/JustEnoughCharacters.cfg
instance.cfg
.minecraft/options.txt
.minecraft/optionsof.txt
.vs/ProjectSettings.json
*.sqlite
.vs/VSWorkspaceState.json
.minecraft/registry.dump
.minecraft/options.txt
.minecraft/optionsof.txt
.minecraft/config/AppliedEnergistics2/VersionChecker.cfg
.minecraft/config/IC2.ini
.minecraft/config/AppliedEnergistics2/VersionChecker.cfg
.minecraft/config/splash.properties
.minecraft/config/thaumicjei_itemstack_aspects.json
.minecraft/config/thaumicjei_itemstack_aspects.json
instance.cfg
.minecraft/config/IC2.ini
.minecraft/config/AppliedEnergistics2/VersionChecker.cfg
.minecraft/config/IC2.ini
.minecraft/config/AppliedEnergistics2/VersionChecker.cfg
.minecraft/config/splash.properties
instance.cfg
.minecraft/config/thaumicjei_itemstack_aspects.json
.minecraft/config/thaumicjei_itemstack_aspects.json
.minecraft/config/thaumicjei_itemstack_aspects.json
.minecraft/config/IC2.ini
.minecraft/config/splash.properties
.minecraft/config/AppliedEnergistics2/VersionChecker.cfg
*.bak
