# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# 用于更改 JEI 功能的高级配置。
##########################################################################################################

advanced {
    # 黑名单中的物品将不会显示在 JEI 的物品列表中。添加格式：modId[:name[:meta]]。物品编辑模式可自动添加或删除这里的条目。 [默认: []]
    S:itemBlacklist <
        appliedenergistics2:facade
     >
}


